.tabbrowser-tab {
  visibility: collapse;
}

.titlebar-button {
  height: 27px !important;
}

#nav-bar {
  margin-top: -42px;
  margin-right: 140px;
  box-shadow: none !important;
  background: #2b2a33 !important;
}

#main-window[inFullscreen="true"] #sidebar-box,
#main-window[inFullscreen="true"] #sidebar-box + splitter {
  visibility: collapse;
}

#sidebar-box #sidebar-header {
  display: none !important;
}
